.iam-container {
  margin: auto;
  width: 70%;
  min-width: 400px;
  max-width: 800px;
  background: rgb(145, 115, 246);
  border-radius: 14px;
  padding: 20px 40px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.307);
  cursor: pointer;
  transition: 0.2s;
}

#target {
  display: flex;
  margin-left: 1rem;
  position: relative;
}
#target::after {
  content: "";
  position: absolute;
  height: 3rem;
  width: 5px;
  background: black;
  top: 0;
  transform: translateY(-4px);
  right: -5px;
  animation: anim 0.8s linear infinite;
}
@keyframes anim {
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
